#com-clxxthyng-marquee {
    position: relative;
    width: 100vw;
    overflow: hidden
}

#com-clxxthyng-marquee > div {
    display: flex;
    white-space: nowrap;
    gap: 20px;
}

#com-clxxthyng-marquee > div > div {
    flex-shrink: 0;
    gap: 20px;
}
